body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"], form input[type="date"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

li form {
    margin: 0;
}

.edit-form {
    display: none;
}

.edit-input {
    margin-right: 10px;
}

.edit-button, .save-button, .delete-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover, .save-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

input[type="checkbox"] {
    margin-right: 10px;
}