<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Task List</h1>
    <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="content" placeholder="New task">
        <input type="date" name="due_date">
        <input type="submit" value="Add task">
    </form>
    <ul>
    {% for task in tasks %}
        <li>
            {{ task.content }} (à faire avant le : {{ task.due_date.strftime('%d/%m/%Y') }})
            <form class="edit-form" action="{{ url_for('edit', id=task.id) }}" method="post">
                <input class="edit-input" type="text" name="content" value="{{ task.content }}">
                <input class="edit-button" type="button" value="Edit">
                <input class="save-button" type="submit" value="Save">
            </form>
            <form action="{{ url_for('complete', id=task.id) }}" method="post">
                <input type="checkbox" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
            </form>
            <form action="{{ url_for('delete', id=task.id) }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>